{% extends '_base.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static "Accounts/header.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "Accounts/users.css" %}">

{% endblock %}
{% block content %}
    <div class="header">

  <div class="header-right">
    <a class="active" href="{% url "home" %}">Home</a>
      {% if user.is_authenticated %}
        <a href="{% url "profile" %}">Dashboard</a>


        <a href="{% url "logout" %}">Logout</a>
      {% else %}
          <a href="{% url "login" %}">Sign in</a>
      {% endif %}

  </div>
  </div>
    <h2>{{ pro.user.username }}</h2>
    {% for i in posts %}
        <div class="card">
            <p>{{ i.title }}</p>  <br>
            <a href="{% url 'detail' num=i.id %}" >More</a>
        </div>
    {% endfor %}
{% endblock %}