{% extends '_base.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static "Accounts/header.css" %}">
{% endblock %}
{% block content %}

     <div class="header">

  <div class="header-right">
    <a class="active" href="{% url "home" %}">Home</a>
      {% if user.is_authenticated %}
        <a href="{% url "profile" %}">Dashboard</a>


        <a href="{% url "logout" %}">Logout</a>
      {% else %}
          <a href="{% url "login" %}">Sign in</a>
      {% endif %}

  </div>
  </div>



    <h1>{{ user.username }} s</h1>
    <form action="" method="get">
        {{ form }}
        <button type="submit">search</button>
    </form>
    {% for i in names %}
        <a href="{% url 'other' num=i.user.id %}">{{ i.user.username }}</a>
    {% endfor %}
{% endblock %}