{%  extends '_base.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static "Accounts/header.css" %}">
{% endblock %}
{% block content %}

    <div class="header">

  <div class="header-right">
    <a class="active" href="{% url "home" %}">Home</a>
{#      {% if user.is_authenticated %}#}
{#        <a href="{% url "profile" %}">Dashboard</a>#}
    <a href="{% url "logout" %}">Logout</a>
{#      {% else %}#}
{#    <a href="{% url "login" %}">Sign in</a>#}
{#      {% endif %}#}

  </div>
  </div>
    {% include '_messages.html' %}
    <h2>{{ user.username }}</h2>
    <h3>{{ user.profile.size_used | filesizeformat }} / 100 MB</h3>
{#    {% for i in con %}#}
{#        <p>{{ i.title }}   >>   {{ i.content.name }},, {{ i.content.size | filesizeformat }},,,,#}
{#        <a href="{{ i.content.url }}">download</a>#}
{#        </p>#}
{#    {% endfor %}#}
    <a href="{% url 'files' num=user.id %}">My files</a>
    <hr>
    <h2>Upload File</h2>
    <form action="" method="post" enctype="multipart/form-data" style="margin-left: 20px">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>

    </form>
{% endblock %}